<a id='recipe-item' class='recipe-item' href="get-recipe?id={{this.id}}">
    <div>
        <img src="{{this.previewUrl}}"/>
    </div>
    <div>
        <h3>{{this.title}}</h3>
        <div class="recipe-button-bar">
            <a><img src="../assets/edit.png"/></a>
            <a href="favourite?id={{this.id}}"><img src="../assets/fav.png"/></a>
        </div>
        <p>{{this.teaserText}}</p>
    </div>
</a>